<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="vehicle" class="com.project.Car"></bean>

    <!-- Setter Injection -->
    <bean id="tire" class="com.project.Tire">
        <property name="brand" value="MRF"></property>
    </bean>

    <!-- Constructor Injection -->
    <bean id="wheel" class="com.project.Wheel">
        <constructor-arg value="MRF"></constructor-arg>
    </bean>

</beans>